* {
    margin:  0;
    padding: 0;
    }
  
    .wrapper {
        margin:0 auto;
        width: 1000px;
    }
  
    .Sample1 {
      width: 300px;
    }

    .Sample2 {
        width: 300px;
    }
  
  